{{!-- <h1 class="title">Exercises</h1> --}}
{{!-- <hr> --}}
<div class="exercise-container">
    <div class="filter-form">
        <form id="filter-form">
            <ul>
                <li class="tag-list-item">
                    <input name="filterLevel" id="Beginner" value="Beginner" type="checkbox" class="checkbox" />
                    <label for="Beginner">BEGINNER</label>
                </li>
                <li class="tag-list-item">
                    <input name="filterLevel" id="Intermediate" value="Intermediate" type="checkbox" class="checkbox" />
                    <label for="Intermediate">INTERMEDIATE</label>
                </li>
                <li class="tag-list-item">
                    <input name="filterLevel" id="Advanced" value="Advanced" type="checkbox" class="checkbox" />
                    <label for="Advanced">ADVANCED</label>
                </li>
                <li class="tag-list-item">
                    <input name="filterBodyPart" id="Upper body" value="Upper body" type="checkbox" class="checkbox" />
                    <label for="Upper body">UPPER BODY</label>
                </li>
                <li class="tag-list-item">
                    <input name="filterBodyPart" id="Lower body" value="Lower body" type="checkbox" class="checkbox" />
                    <label for="Lower body">LOWER BODY</label>
                </li>
                <li class="tag-list-item">
                    <input name="filterBodyPart" id="Full body" value="Full body" type="checkbox" class="checkbox" />
                    <label for="Full body">FULL BODY</label>
                </li>
            </ul>
        </form>
        <form class="tag-list-item" method="post" action="/exercises" id="form-create-program">
            <h2 id="filter-form-title">MY HOME F<span id="navbar-span">i</span>T PROGRAM</h2>
            <div>
                {{!-- <label for="programName">Your program name</label> --}}
                <input id="programName" type="text" name="programName" required placeholder="Give it a name">
            </div>
            <div>
                {{!-- <label for="programDescription">Description</label> --}}
                <input id="programDescription" type="text" name="programDescription" placeholder="Description">
            </div>
            <input id="exercisesList" type="hidden" visibility="hidden" name="exercisesList">
            <button id="create-program-btn">CREATE PROGRAM</button>
        </form>
    </div>

    <ul class="exoList" id="exoList">
        {{#each exercises}}
        <li class="exercise">
            <div class="exercise-upper-info">
                <p>{{this.name}} <input name="favourite" value="{{this._id}}" type="checkbox" class="checkbox" />
                    <label for="favourite"></label></p>

                <p>{{this.level}}</p>
                <p>{{this.bodyPart}}</p>
            </div>
            <iframe width="420" height="315" src={{this.exerciseUrl}}>
            </iframe>
            {{!-- <p id="exercise-description">{{this.description}}</p> --}}
            {{!-- <a class="link" href="/exercises/page/{{this._id}}">... see more</a> --}}
        </li>
        {{/each}}
    </ul>
</div>