<h1 class="title">MY PROGRAMS</h1>
<hr>


<ul class="programList">
    {{#each programs}}
    <li>
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <a href="/myPrograms/{{this._id}}">Go to this program</a>
        <a href="/program-edit/{{this._id}}">Update</a>
        <a href="/delete/{{this._id}}">Delete</a>

        {{!-- <img src="" alt=""> --}}
        {{!-- <ul class="exoList">
            {{#each favProg}}
            <li class="favorites">
                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
                <p>{{this.level}}</p>
                <p>{{this.bodyPart}}</p>
                <iframe width="420" height="315" src={{this.exerciseUrl}}>
                </iframe> --}}
        {{!-- <a class="link" href="/exercises/page/{{this._id}}">... see more</a> --}}

        {{!-- 
            </li>
            {{/each}}
        </ul> --}}
    </li>
    {{/each}}
</ul>