{{!-- <h1 class="title">MY PROGRAMS</h1>
<hr> --}}
<div class="myPrograms-container">

<ul class="programList programList-container">
    {{#each programs}}
    <li class="myProgramList">
        <p id="myProgram-name">{{this.name}}</p>
        <p>{{this.description}}</p>
        <img src="../Images/programs-img2.jpg" alt="">
        <a id="myProgram-go-to" href="/myPrograms/{{this._id}}">GO TO THIS PROGRAM</a>
        <a id="myProgram-update" href="/program-edit/{{this._id}}">UPDATE</a>
        <a id="myProgeam-delete" href="/delete/{{this._id}}">DELETE</a>

        {{!-- <img src="" alt=""> --}}
        {{!-- <ul class="exoList">
            {{#each favProg}}
            <li class="favorites">
                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
                <p>{{this.level}}</p>
                <p>{{this.bodyPart}}</p>
                <iframe width="420" height="315" src={{this.exerciseUrl}}>
                </iframe> --}}
        {{!-- <a class="link" href="/exercises/page/{{this._id}}">... see more</a> --}}

        {{!-- 
            </li>
            {{/each}}
        </ul> --}}
    </li>
    {{/each}}
</ul>

</div>