<h1 class="title">Programs</h1>
<hr>

<ul class="progList">
    {{#each exercises}}
    <li class="program">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <p>{{this.exercisesList}}</p>
        <p>{{this.creator}}</p>
        <p>{{this.likes}}</p>
    </li>
    {{/each}}
</ul>