{{!-- <h1 class="title">Exercises</h1>
<hr> --}}
<div class="homeFit-programs-container">
    <div id="homeFit-programs-div">
        <p id="homeFit-programs-p" class="title">LET'S START WORKING OUT!</p>
    </div>

    <ul class="exoList exoList-exercises">
        {{#each exercises}}
        <li class="exercise homeFIT-exercise">
            <div class="homeFIT-exercise-upper-info">
                <p>{{this.name}}</p>
                <p>{{this.level}}</p>
                <p>{{this.bodyPart}}</p>
            </div>
            <iframe width="100%" height="315" src={{this.exerciseUrl}}>
            </iframe>
            <div class="homeFit-exercise-bottom-info">
                <p>{{this.description}}</p>
            </div>
            {{!-- <a class="link" href="/exercises/page/{{this._id}}">... see more</a> --}}
        </li>
        {{/each}}
    </ul>
</div>
